In [1]:

import pandas as pd
import numpy as np
import pandas as pandas_pd
import os
import time

In [34]:
#data = pd.read_csv('Parking_Violations_v2.csv')

In [2]:

start_time = time.time()
df_pandas = pd.read_csv("ETHUSD.csv")
end_time = time.time()

print(f"Pandas read time: {end_time - start_time} seconds")

Pandas read time: 11.280446290969849 seconds

In [3]:
import dask.dataframe as dd
import time

start_time = time.time()
df_dask = dd.read_csv("ETHUSD.csv")
end_time = time.time()

print(f"Dask read time: {end_time - start_time} seconds")

Dask read time: 0.7733311653137207 seconds

In [37]:
#pip install modin[dask]

In [4]:
import os
os.environ["MODIN_ENGINE"] = "dask"

In [5]:
import modin.pandas as mpd
import time

start_time = time.time()
df_modin = mpd.read_csv("ETHUSD.csv")
end_time = time.time()

print(f"Modin read time: {end_time - start_time} seconds")

UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 53361 instead

Modin read time: 16.197556734085083 seconds

In [6]:
df_new=df_modin.copy()

In [7]:
df_new.columns

Index(['Open time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close time',
       'Quote asset volume', 'Number of trades', 'Taker buy base asset volume',
       'Taker buy quote asset volume', 'Ignore'],
      dtype='object')

In [11]:
df_new.shape

(3799608, 12)

In [10]:
df_new.info

<bound method DataFrame.info of                    Open time     Open     High      Low    Close     Volume  \
0        2017-08-17 04:00:00   301.13   301.13   301.13   301.13    0.42643
1        2017-08-17 04:01:00   301.13   301.13   301.13   301.13    2.75787
2        2017-08-17 04:02:00   300.00   300.00   300.00   300.00    0.09930
3        2017-08-17 04:03:00   300.00   300.00   300.00   300.00    0.31389
4        2017-08-17 04:04:00   301.13   301.13   301.13   301.13    0.23202
...                      ...      ...      ...      ...      ...        ...
3799603  2024-11-12 18:35:00  3281.41  3285.54  3279.71  3282.45  558.00890
3799604  2024-11-12 18:36:00  3282.45  3284.79  3271.00  3271.00  685.86560
3799605  2024-11-12 18:37:00  3271.01  3275.99  3270.86  3273.49  510.63050
3799606  2024-11-12 18:38:00  3273.50  3276.47  3271.35  3272.18  349.74890
3799607  2024-11-12 18:39:00  3272.18  3273.95  3271.50  3273.36  116.67390

                      Close time  Quote asset volume  Number of trades  \
0        2017-08-17 04:00:59.999        1.284109e+02               2.0
1        2017-08-17 04:01:59.999        8.304774e+02               4.0
2        2017-08-17 04:02:59.999        2.979000e+01               2.0
3        2017-08-17 04:03:59.999        9.416700e+01               3.0
4        2017-08-17 04:04:59.999        6.986818e+01               1.0
...                          ...                 ...               ...
3799603  2024-11-12 18:35:59.999        1.831906e+06            3241.0
3799604  2024-11-12 18:36:59.999        2.248745e+06            4947.0
3799605  2024-11-12 18:37:59.999        1.671488e+06            3384.0
3799606  2024-11-12 18:38:59.999        1.144899e+06            3707.0
3799607  2024-11-12 18:39:59.999        3.818264e+05            1814.0

         Taker buy base asset volume  Taker buy quote asset volume  Ignore
0                            0.42643                  1.284109e+02     0.0
1                            2.75787                  8.304774e+02     0.0
2                            0.09930                  2.979000e+01     0.0
3                            0.00000                  0.000000e+00     0.0
4                            0.23202                  6.986818e+01     0.0
...                              ...                           ...     ...
3799603                    329.33140                  1.081074e+06     0.0
3799604                    238.07140                  7.807082e+05     0.0
3799605                    235.87090                  7.720204e+05     0.0
3799606                    187.04370                  6.122436e+05     0.0
3799607                     71.51550                  2.340268e+05     0.0

[3799608 rows x 12 columns]>

In [13]:
# remove special characters and white spaces from column names
df_new.columns = df_new.columns.str.replace('[^A-Za-z0-9]+', '', regex=True)
df_new

,Opentime,Open,High,Low,Close,Volume,Closetime,Quoteassetvolume,Numberoftrades,Takerbuybaseassetvolume,Takerbuyquoteassetvolume,Ignore
0,2017-08-17 04:00:00,301.13,301.13,301.13,301.13,0.42643,2017-08-17 04:00:59.999,1.284109e+02,2.0,0.42643,1.284109e+02,0.0
1,2017-08-17 04:01:00,301.13,301.13,301.13,301.13,2.75787,2017-08-17 04:01:59.999,8.304774e+02,4.0,2.75787,8.304774e+02,0.0
2,2017-08-17 04:02:00,300.00,300.00,300.00,300.00,0.09930,2017-08-17 04:02:59.999,2.979000e+01,2.0,0.09930,2.979000e+01,0.0
3,2017-08-17 04:03:00,300.00,300.00,300.00,300.00,0.31389,2017-08-17 04:03:59.999,9.416700e+01,3.0,0.00000,0.000000e+00,0.0
4,2017-08-17 04:04:00,301.13,301.13,301.13,301.13,0.23202,2017-08-17 04:04:59.999,6.986818e+01,1.0,0.23202,6.986818e+01,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3799603,2024-11-12 18:35:00,3281.41,3285.54,3279.71,3282.45,558.00890,2024-11-12 18:35:59.999,1.831906e+06,3241.0,329.33140,1.081074e+06,0.0
3799604,2024-11-12 18:36:00,3282.45,3284.79,3271.00,3271.00,685.86560,2024-11-12 18:36:59.999,2.248745e+06,4947.0,238.07140,7.807082e+05,0.0
3799605,2024-11-12 18:37:00,3271.01,3275.99,3270.86,3273.49,510.63050,2024-11-12 18:37:59.999,1.671488e+06,3384.0,235.87090,7.720204e+05,0.0
3799606,2024-11-12 18:38:00,3273.50,3276.47,3271.35,3272.18,349.74890,2024-11-12 18:38:59.999,1.144899e+06,3707.0,187.04370,6.122436e+05,0.0
3799607,2024-11-12 18:39:00,3272.18,3273.95,3271.50,3273.36,116.67390,2024-11-12 18:39:59.999,3.818264e+05,1814.0,71.51550,2.340268e+05,0.0

In [ ]:
### YAML

In [15]:
# Get header name
df_new.columns.tolist()

['Opentime',
 'Open',
 'High',
 'Low',
 'Close',
 'Volume',
 'Closetime',
 'Quoteassetvolume',
 'Numberoftrades',
 'Takerbuybaseassetvolume',
 'Takerbuyquoteassetvolume',
 'Ignore']

In [ ]:
# import shutil
import yaml
import gzip
import os


# Step 1: Read the YAML configuration file
with open("config.yaml") as file:
    config = yaml.safe_load(file)

# Step 2: Validate DataFrame structure against YAML
if list(df.columns) == config["columns"]:
    print("Column validation passed")
else:
    print("Column validation failed. Please check the column names and order.")

# Step 3: Write DataFrame to a gzipped, pipe-separated text file
df_subset = df.iloc[:2000]  # selecting the first 1000 rows
df_subset.to_csv("output_file.csv.gz", sep="|", compression="gzip", index=False)

# Step 4: Create and print a summary of the file
summary = {
    "Total number of rows": len(df),
    "Total number of columns": len(df.columns),
    "File size (bytes)": os.path.getsize("output_file.csv.gz")
}

print("File Summary:", summary)